{% extends 'base.html' %}
{% load static %}

{% block title %}Skróć link{% endblock %}

{% block content %}
    <div class="centered-content">
        <h1>Skróć link</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Skróć link</button>
        </form>
    </div>
    
    {% if user.is_authenticated %}
    <div>
        <h1>Moje linki</h1>
        <ul>
{#            <li>#}
{#                <a href="https://www.google.com/search?q=olimpiada+2024&sca_esv=3f99e2d73d683bd3&sca_upv=1&sxsrf=ADLYWIJMTIceD8cusEgl_JHB6f13b3EsMg%3A1722435694572&source=hp&ei=bkiqZrPSINCRxc8PsP-7oQg&iflsig=AL9hbdgAAAAAZqpWfsHU8Dax4_4vC1QrNuKq8IqiDrha&oq=olimpia&gs_lp=Egdnd3Mtd2l6IgdvbGltcGlhKgIIADILEAAYgAQYsQMYgwEyDhAAGIAEGLEDGIMBGIoFMg4QABiABBixAxiDARiKBTILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBMgsQABiABBixAxiDATIOEAAYgAQYsQMYgwEYigUyDhAAGIAEGLEDGIMBGIoFMg4QABiABBixAxiDARiKBTIEEAAYA0iqIlD8Elj6G3ABeACQAQCYAWSgAf8EqgEDNi4xuAEDyAEA-AEBmAIIoALIBagCCsICBxAjGCcY6gLCAhAQLhjHARgnGOoCGI4FGK8BwgIKECMYgAQYJxiKBcICBBAjGCfCAhEQLhiABBixAxjRAxiDARjHAcICEBAAGIAEGLEDGEMYgwEYigXCAhYQLhiABBixAxjRAxhDGIMBGMcBGIoFwgIFEAAYgATCAgsQLhiABBjHARivAZgDFpIHAzUuM6AH4zM&sclient=gws-wiz" target="_blank">#}
{#                    https://www.google.com/search?q=olimpiada+2024&sca_esv=3f99e2d73d683bd3&sca_upv=1&sxsrf=ADLYWIJMTIceD8cusEgl_JHB6f13b3EsMg%3A1722435694572&source=hp&ei=bkiqZrPSINCRxc8PsP-7oQg&iflsig=AL9hbdgAAAAAZqpWfsHU8Dax4_4vC1QrNuKq8IqiDrha&oq=olimpia&gs_lp=Egdnd3Mtd2l6IgdvbGltcGlhKgIIADILEAAYgAQYsQMYgwEyDhAAGIAEGLEDGIMBGIoFMg4QABiABBixAxiDARiKBTILEAAYgAQYsQMYgwEyCxAAGIAEGLEDGIMBMgsQABiABBixAxiDATIOEAAYgAQYsQMYgwEYigUyDhAAGIAEGLEDGIMBGIoFMg4QABiABBixAxiDARiKBTIEEAAYA0iqIlD8Elj6G3ABeACQAQCYAWSgAf8EqgEDNi4xuAEDyAEA-AEBmAIIoALIBagCCsICBxAjGCcY6gLCAhAQLhjHARgnGOoCGI4FGK8BwgIKECMYgAQYJxiKBcICBBAjGCfCAhEQLhiABBixAxjRAxiDARjHAcICEBAAGIAEGLEDGEMYgwEYigXCAhYQLhiABBixAxjRAxhDGIMBGMcBGIoFwgIFEAAYgATCAgsQLhiABBjHARivAZgDFpIHAzUuM6AH4zM&sclient=gws-wiz#}
{#                </a>#}
{#                <button>Usuń</button>#}
{#            </li>#}
{#            <li>#}
{#                <a href="https://www.wp.pl/" target="_blank">#}
{#                    https://www.wp.pl/#}
{#                </a>#}
{#                <button>Usuń</button>#}
{#            </li>#}
        </ul>
    </div>
    {% endif %}
{% endblock %}
